.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding-left: 10px;
  background-color: #000235;
  color: #ecf0f1;
  z-index: 1000;
}
.logo {
  display: flex;
  gap: 10px;
}

.logo img {
  padding-top: 15px;
  height: 40px; /* Adjust the logo size to fit within the header */
  max-height: 100%;
  width: 40px; /* Maintain aspect ratio */
}

.logo h3 {
  font-size: x-large;
  font-family: "Irish Grover", cursive;
}
