.sidebar {
  width: 210px;
  height: 100vh;
  background-color: #e6e6ff; 
  color: #010f13;
  position: fixed;
  top: 58px;
  left: 10;
}

.navList {
  list-style-type: none;
  padding-top: 0;
  padding: 0;
}

.navItem {
  height: 50px;
  text-align: center;
}

.navItem:hover{
  background-color:#cdcbf2;
}

.navLink {
  text-align: center;
  color: #180d5b;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:larger;
  text-decoration: none;
}
