@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

.cardContainer {
  display: flex;
  gap: 16px; /* Space between cards */
  justify-content: center; /* Center the cards horizontally */
  flex-wrap: wrap; /* Allow the cards to wrap to the next line if needed */
  padding: 16px; /* Optional: Add some padding around the container */
}

body {
  background-color:aliceblue;
}

.titl {
  text-align: center;
  color: #02010d;
  font-size: xxx-large;
  font-family: 'Irish Grover', cursive;
}

.mainContent {
  margin-left: 282px; /* Same as sidebar width */
  padding: 0px;
  flex: 1;
}
